* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
body {
  
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  
}
header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
header h3 {
  color: rgb(165, 59, 59);
}
header h3:hover {
  color: rgb(255, 69, 69);
  font-size: 2rem;
  box-shadow: 1px 1px red;
}
header,
main,
footer {
  width: 80%;
  background-color: #f5f5f5;
  margin: 0 auto;
}
main {
  display: flex;
  padding: 3rem;
  
  
}
main section:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 2rem;
  
}
header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

header li {
  margin-right: 2rem;
}
a {
  text-decoration: none;
}
main section h1{
  font-size: 5rem;
}
main section p{
  text-align: justify;
  line-height: 2.5rem;
}
footer{
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  
}
.social i{
  margin-right: 1rem;
}
.social i:hover{
  color: rgb(165, 59, 59);
  cursor: pointer;
}
.social .fa-facebook-square:hover{
  color: #3a5796;
  cursor: pointer;
}
.social .fa-twitter:hover{
  color: #1da1f2;
}
.social a{
  text-decoration: none;
  color: inherit;
  
}
 footer .social, p{
   padding: 1rem;
 }
 .botoes button{
   text-transform: uppercase;
   font-size: 2.4rem;
   padding: 1rem;
   border: none;
   border-radius: 2rem;
   border-right: 3rem;
   color: rgb(165, 59, 59);
   
   width: 18rem;
   cursor: pointer;
   border: 1px solid rgb(165, 59, 59);
   background-color: #fff;

 }
 .botoes button:hover{
   color: white;
   background-color: rgb(165, 59, 59);
 }
 .frutas{
   width: 40rem;
   background-color: rgba(255,255,255,0.472);
   padding: 2rem;
   margin-bottom: 2rem;
   background-image: url(https://11904.cdn.simplo7.net/static/11904/sku/thumb_colecao-especial-tecido-tricoline-especial-frutaria-bege-100-algodao-largura-1-50m-1644240763673.jpg);
   background-repeat: no-repeat;
   
 }
 .frutas ul{
   list-style-type: none;
 }
 .frutas li{
   margin-top: 1.3rem;
   font-size: 2.4rem;
 }
 /* SOBRE NÓS */
 .main-about{
   display: flex;
   flex-direction: column;

 }
 .main-about p{
   line-height: 2rem;
   text-align: justify;
   margin-top: 2rem;
 }
 .main-about h2{
   margin-top: 2rem;
 }
 table{
   margin-top: 5rem;
   border: 1px solid #ccc;
 }
 thead{
   text-align: left;
 }
  tr {
   padding-top: 2rem;
 }
 th,td{
   border: 1px solid #ccc;
   padding: 1rem;
 }
 .esquerda{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  min-width: 45rem;
  min-height: 60rem;
   background-color: black;
   background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190429/pngtree-black-triangle-background-image_109967.jpg);
  
 }
.main-contato{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p1{
  padding: 0rem;
  font-size: 2.5rem;
}
.p2{
  padding-bottom: 3rem;
  font-size: 1.5rem;
  color: gray;
}
.fa-location-dot, .fa-phone, .fa-envelope{
  color: gray;
}
.p3{
  
  color: green;
  font-size: 1.5rem;
  padding-bottom: 3rem;
}
.direita{
  display: flex;
  flex-direction: column;
  align-items:center;
  min-width: 45rem;
  min-height: 60rem;
  background-color: white;
  color: black;
  
}
.main-contato button:last-child{
  color: gray;
  height: 2.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border: 1px solid gray;
  border-radius: 2rem;
  
}
.main-contato button:hover{
  color: black;
  height: 2.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: gray;
  cursor: pointer;
}
.direita form{
  display: grid;
  margin-top: 10rem;
}
.direita h1{
  margin-top: 5rem;
  font-weight: 300;
}
.direita input{
  border-radius: 1rem;
  border: 1px solid gray;
  
}
.direita input:focus-visible{
  border: 1px solid rgb(255, 69, 69);
}


