* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}

.container {
  border: 0.1rem solid #0720fd;
  font-family: 'Jura', sans-serif;
  width: 44.7rem;
  height: 62.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1,
p,
.botoes {
  margin-inline: auto;
}
h1 {
  font-family: 'jura', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.p1 {
  font-family: 'Jura';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
button {
  border: 1px solid #00856f;
  color: #00856f;
  width: 17rem;
  height: 5rem;
  border-radius: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
}
button:hover {
  color: white;
  background-color: #00856f;
}
button:first-child:hover{
  background-color: #8d0000;
  color: white;
}
button:first-child {
  border: 1px solid #8d0000;
  color: #8d0000;
}
.p2 {
  font-family: 'Jura';

  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;

  text-transform: uppercase;

  color: #000000;
}
