* {
  margin: 0;
}

section {
  margin: auto;
  border: 1px dashed #ff3333;
  padding: 5px;
  height: 100px;
  width: 200px;
}
#carro {
  float: left;
  margin: auto;
  border: 1px solid #ff3333;
  padding: 5px;
  height: 100px;
  width: 200px;
}

.Banana {
  color: #000000
   ;
}
